.p-link1 > .c-breadcrumb--bottom {
    transform: translateY(-4px);
}

.p-link1 {
    margin-bottom: -4px;
}



.c-titleAnchorLink__dummy {
    margin-top: 25px;
    margin-bottom: 16px;
}

.c-titleAnchorLink {
    .c-titleAnchorLink__title {
        font-size: 1.8rem;
        padding-bottom: 8px;
        border-bottom: 2px solid $color-gray-1;
        transform: translateX(-1px);
    }
}
