/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/


.c-viewmoreBtn {
    border-radius: 5px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

    .c-viewmoreBtn__text {
        color: $color-white-1;
        font-size: 1.8rem;
        font-weight: bold;
    }
}

.c-viewmoreBtn--orange {
    background-color: $color-orange-1;
    width: 296px;
    height: 61px;

    span {
        transform: translateY(1px);
    }
}

.c-viewmoreBtn--yellow {
    background-color: $color-yellow-2;
    width: 296px;
    height: 61px;
}

.c-viewmoreBtn--blue {
    background-color: $color-blue-2;
    width: 996px;
    height: 61px;

    span {
        transform: translate(-3px, 1px);
    }
}
