.c-anchorLink {
    display: flex;
    gap: 50px;
    flex-basis: calc(33% - 50px);
    margin-bottom: 63px;

    .c-anchorLink__item {
        width: 300px;
        height: 45px;
        background-color: $color-blue-3;
        border-radius: 5px;
        transform: translate(-1px, -1px);
        display: flex;
        justify-content: center;
        align-items: center;

        .c-anchorLink__text {
            color: $color-white-1;
            font-size: 1.6rem;
            position: relative;
            transform: translateX(7px);
            font-weight: 500;

            &::before {
                content: url(/assets/img/angledown.png);
                position: absolute;
                top: -1px;
                left: -16px;
            }
        }
    }

    .c-anchorLink__item:nth-child(2) {
        transform: translate(-2px, -1px);
    }
}
