.c-dummy {
    position: relative;

    &::after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.c-dummy--blue {
    color: $color-blue-5;

    &::after {
        background-color: $color-blue-5;
    }
}

.c-dummy--red {
    color: $color-red-2;

    &::after {
        background-color: $color-red-2;
    }
}
