.c-feature {
    padding-top: 60px;
    padding-bottom: 125px;
    background-color: #fafafa;
  
    .c-feature__main {
        position: relative;
    }
  
    .c-box {
        margin-bottom: 59px;
    }


    .c-feature__viewmore {
       
        position: absolute;
        right: 0;

       
    }
}
