.c-random {

    position: relative;
    transform: translateY(-1px);

    .c-random__content {
        position: absolute;
        top: 220px;
        left: 40px;
    }

    .c-random__cat {
        background-color: $color-pink-1;
        width: 128px;
        height: 35px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $mg-0 - 6;
        letter-spacing: 1.5px;

        .c-random__catText {
            transform: translate(-0.5px, -1px);
            font-weight: bold;
            font-size: 1.6rem;
            letter-spacing: 0.1px;
        }
   
    }

    .c-random__description {
        .c-random__title {
            font-weight: 500;
            width: 430px;
            font-size: 2rem;
            line-height: 1.5;
            margin-bottom: 7px;
       
        }
    }
}
