.c-titleAnchorLink1 {
    margin-bottom: 56px;

    .c-titleAnchorLink1__dummy {
        h1 {
            transform: translate(-1px, 0);
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

  
}
