.c-link2__title2 {
    margin-top: 70px;

    .c-link2--comment {
        transform: translate(1px, -1px);

        .c-description--comment::before {
            top: 2px;
        }
    }

    .c-link2__description1 {
        margin-bottom: -21px;
    }

    .c-link2--comment {
        transform: translate(1px, -1px);

        .c-description--comment::before {
            top: 2px;
        }
    }

    .c-link2__description2 {
        transform: translateY(-1px);
        margin-bottom: 30px;

        &:last-of-type {
            margin-top: 16px;
        }

        .c-description--header {
            transform: translateX(24.7px);
        }

        .c-link2--comment {
            .c-description--comment {
                transform: translateX(24px);
            }
        }
    }

    .c-link2--seedling {
        transform: translateY(0);
    }

    .c-link2__description3 {
        margin-top: -16px;
        height: 99px;
        transform: translateX(-1px);

        .c-description--message {
            transform: translate(1px, 2px);

            .u-messPinkBF {
                transform: translate(0, 2px);
            }

            .u-messPinkAF {
                transform: translate(4px, 2px);
            }

            span {
                display: inline-block;
            }

            span:nth-of-type(2) {
                transform: translate(3px, -1px);
            }

            span:nth-of-type(3) {
                transform: translate(1px, -0.5px);
            }

            span:nth-of-type(4) {
                transform: translate(1px, -1px);
            }
        }
    }

    .c-link2__list {
        margin-top: -7px;
        margin-bottom: 27px;

        p > span:not(.u-clpink) {
            display: inline-block;
            transform: translate(0, 1px);
        }
    }

    .c-link2__text {
        margin-top: 34px;
        margin-bottom: 14px;
        transform: translate(-1px, 1px);
    }

    .c-link2__table {
        margin-bottom: 125px;

        .c-table {
            border-collapse: collapse;

            .c-table__tr1 {
                th {
                    font-weight: 500;
                    padding: 12px 0 8px;
                }
            }

            transform: translateX(-1px);
            width: 1001px;

            .c-table__tbody {
                .c-table__tr > td,
                .c-table__tr > th {
                    padding: 9.5px 0;
                    width: 214px;
                }

                .c-table__tr > th {
                    font-weight: 500;
                    background-color: $color-gray-4;
                    width: 136px;
                    padding: 9.5px 2px 9.5px 0;
                }

                .c-table__tr > td:nth-child(2) {
                    padding: 9.5px 3px 9.5px 0;
                }

                .c-table__tr > td:nth-child(3) {
                    padding: 9.5px 0;
                    transform: translateX(0.7px);
                }

                .c-table__tr > td:last-child {
                    padding: 10px 0 9.5px 3px;
                }

                .c-table__tr .c-table__span {
                    display: inline-block;
                    transform: translate(0, 1px);
                }
               
                .c-table__tr4--item4 {
                    .c-table__span {
                        transform: none;
                    }
                }

                .c-table__tr .c-table__tr4--item1 span {
                    transform: translateY(2px);
                }
            }
        }
    }
}
