//baseWidth
$base-width: 1000px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
//------FONT_SIZE-----
$fs-0: 12px;
$fs-main: 16px;
$fs-1: 14px;
$fs-2: 18px;
$fs-3: 20px;
$fs-4: 24px;

//-----COLOR----
$color-white-1: #fff;
$color-gray-1: #ccc;
$color-gray-2: #ece6e6;
$color-gray-3: #afafaf;
$color-black-1: #222; 
$color-black-2: #000;
$color-green-1: #a3d39c;
$color-green-2: #acd373;
$color-yellow-1: #fff799;
$color-yellow-2: #ffd800;
$color-pink-1: #ffdfdf;     
$color-pink-2: #f5989d;
$color-orange-1: #f68e56;
$color-blue-1: #11638a;
$color-blue-2: #6dcff6;
$color-blue-3: #00aeef;
$color-blue-4: #5172fb;
$color-red-1: #c40000;
$color-red-2: #ff2626;


//-----PADDING----
$pd-0: 20px;
$pd-1: 30px;
$pd-2: 40px;
$pd-3: 100px;

//----MARGIN---
$mg-0: 20px;
$mg-1: 30px;
$mg-2: 40px;


