/*------------------------------------------------------------

------------------------------------------------------------*/
//--footer
.c-footer {
    margin-bottom: $mg-0;

    .c-footer__content {
        background-color: #fafafa;

        .c-footer__top {
            display: flex;
            gap: 50px;
            padding-top: 40px;
            padding-bottom: 37px;

            .c-footer__item {
                flex: 1 1 calc(33% - 50px);

                .c-footer__title {
                    transform: translate(-1px, -5px);
                    font-size: 1.4rem;
                    font-weight: bold;
                }

                .c-footer__ul {
                    border-top: 1px solid #ccc;
                    margin-top: -1px;

                    .c-footer__li {
                        transform: translate(11px, 3px);
                        line-height: 1.45;
                        position: relative;

                        &::before {
                            content: url(/assets/img/footer/dot.png);
                            margin-right: 5px;
                            position: absolute;
                            top: -2px;
                            left: -11px;
                        }
                    }
                }
            }

            .c-footer__item1 {
                .c-footer__ul1--li1,
                .c-footer__ul1--li2 {
                    transform: translate(11px, 4px);
                }
            }

            .c-footer__item2 {
                .c-footer__ul2 {
                    .c-footer__li {
                        transform: translate(12px, 3px);

                        &::before {
                            content: url(/assets/img/footer/rightangle.png);
                            margin-right: 5px;
                            position: absolute;
                            top: 1px;
                            left: -18px;
                        }
                    }

                    .c-footer__ul2--li1,
                    .c-footer__ul2--li2 {
                        transform: translate(12px, 4px);
                    }
                }
            }

            .c-footer__item3 {
                .c-footer__ul3 {
                    .c-footer__li {
                        transform: translate(17px, 3px);

                        &::before {
                            content: url(/assets/img/footer/chage.png);
                            margin-right: 5px;
                            position: absolute;
                            top: 2px;
                            left: -19px;
                        }
                    }

                    .c-footer__ul3--li1,
                    .c-footer__ul3--li2 {
                        transform: translate(16.5px, 4px);

                        &::before {
                            top: 1.5px;
                        }
                    }
                }
            }
        }
    }

    .c-footer__copyright {
        transform: translateY(1px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        border-top: 1px solid #ccc;
        padding-top: 20px;

        p {
            transform: translateY(-3px);
            font-size: 1.2rem;
        }
    }
}
//----
