/* Header
------------------------------------------------------------*/

.c-header {
    padding-top: $pd-0;
    padding-bottom: $pd-1 + 3;

    .c-header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 19px;
        margin-bottom: 31px;

        .c-header__link {
            a {
                color: $color-black-1;
                text-decoration: none;
            }

            a:first-of-type {
                margin-right: $mg-0 + 5px;
            }

            a:nth-child(2) {
                margin-right: $mg-1;
                display: inline-block;
                transform: translateX(1px);
            }
        }
    }
}
