<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page" />
  <!-- @@meta -->
  <!-- @content -->
  <main class="p-home">
    <section class="c-breadcrumb--top">
      <p>HOME</p>
    </section>
    <section class="p-random">
      <img src="/assets/img/random/ImageRamdom.jpg" alt="ImageRamdom">
      <div class="p-random__content">
        <div class="p-random__category">
          <span>Category 1</span>
        </div>
        <div class="p-random__description">
          <p>
            Title title title &nbsptitle &nbsptitle &nbsptitle &nbsptitle title
            &nbsptitle title &nbsptitle &nbsptitle &nbsptitle
          </p>
        </div>
      </div>
    </section>
    <section class="p-news">
      <div class="c-title">
        <img src="/assets/img/news/Rectangle 1.jpg" alt="rectangle1">
        <img src="/assets/img/news/Rectangle 2.jpg" alt="rectangle2">
        <span>News</span>
      </div>
      <div class="p-news__content">
        <% if(typeof news !='undefined' ){ %>
          <% news.content.forEach(item=>{ %>
            <div class="p-news__item">
              <div class="p-news__img">
                <img src="/assets/img/news/Image.jpg" alt="image">
                <div class="p-news__category p-news__category--<%= item.color %>">
                  <span>
                    <%= item.category %>
                  </span>
                </div>
              </div>
              <div class="p-news__description">
                <p>
                  <%= item.title %>
                </p>
                <p>
                  <%= item.description %>
                </p>
              </div>
              <div class="p-news__link">
                <div class="link-content">

                  <span>
                    <%= item.link %>
                  </span>
                </div>
              </div>
            </div>
            <% })%>
              <% } %>
      </div>
      <div class="p-news__viewmore c-viewmoreBtn c-viewmoreBtn--yellow">
        <p>VIEW MORE</p>
      </div>
    </section>

    <section class="p-feature">
      <div class="c-title">
        <img src="/assets/img/feature/Rectangle 1.jpg" alt="rectangle1">
        <img src="/assets/img/feature/Rectangle 2.jpg" alt="rectangle2">
        <span>Feature</span>
      </div>

      <div class="c-content">
        <% if(typeof feature !='undefined' ){ %>
          <% feature.content.forEach(item=>{ %>
            <div class="p-feature__item c-item">
              <div class="p-feature__img">
                <img src="<%= item.imgUrl %> " alt="feature">
              </div>
              <div class="c-text c-textBtn--<%= item.color %>">
                <p>
                  <%= item.text %>
                </p>
              </div>
              <div class="c-description">
                <p>
                  <%= item.description %>
                </p>
              </div>
            </div>
            <% })%>
              <% } %>
      </div>
      <div class="p-feature__viewmore c-viewmoreBtn c-viewmoreBtn--orange">
        <p>VIEW MORE</p>
      </div>
    </section>
    <section class="p-blog">
      <div class="c-title">
        <img src="/assets/img/blog/Rectangle 1.jpg" alt="rectangle1">
        <img src="/assets/img/blog/Rectangle 2.jpg" alt="rectangle2">
        <span>Blog</span>
      </div>

      <div class="c-content">
        <% if(typeof blog !='undefined' ){ %>
          <% blog.content.forEach(item=>{ %>
            <div class="p-blog__item c-item">
              <div class="p-blog__img">
                <img src="<%= item.imgUrl %> " alt="blog" >
              </div>
              <div class="c-text c-textBtn--<%= item.color %>">
                <p>
                  <%= item.text %>
                </p>
              </div>
              <div class="c-description">
                <p>
                  <%= item.description %>
                </p>
              </div>
            </div>
            <% })%>
              <% } %>
      </div>
      <div class="p-blog__viewmore c-viewmoreBtn c-viewmoreBtn--blue">
        <p>VIEW MORE</p>
      </div>
    </section>
    <section class="c-breadcrumb--bottom">
      <p>HOME</p>
    </section>
  </main>

  <!-- @@content -->

  <!-- @script -->
  <script>

  </script>
  <!-- @@script -->