<%- include('_layouts/layout', { title: 'Link 1' }); -%>
    <!-- @meta -->
    <meta name="description" content="Link1 page">
    <!-- @@meta -->
    <!-- @content -->
    <main class="p-link1">
        <section class="c-breadcrumb c-breadcrumb--top l-container">
            <h2 class="p-home__text"><a class="p-home__link" href="index.html">HOME</a><span
                    class="u-angleRight"></span><span class="c-linkText">&nbsp;Link1</span>
            </h2>
        </section>
        <section class="c-anchorLink l-container">

            <a href="#titleAnchorLink1" class="c-anchorLink__item">
                <h2 class="c-anchorLink__text">Anchor link 1</h2>
            </a>
            <a href="#titleAnchorLink2" class="c-anchorLink__item">
                <h2 class="c-anchorLink__text">Anchor link 2</h2>
            </a>
            <a href="#titleAnchorLink3" class="c-anchorLink__item">
                <h2 class="c-anchorLink__text">Anchor link 3</h2>
            </a>
        </section>
        <section id="titleAnchorLink1" class="c-titleAnchorLink c-titleAnchorLink1 l-container">
            <h3 class="c-titleAnchorLink__title">TITLE ANCHOR LINK 1</h3>
            <div class="c-titleAnchorLink__dummy c-titleAnchorLink1__dummy">
                <h1 >Dummy <a href="#" class="c-dummy c-dummy--blue">dummy dummy dummy</a> dummy dummy dummy</h1>
            </div>
            <div class="c-box c-box--3">
                <% if(typeof titleAnchorLink1 !='undefined' ){ %>
                    <% titleAnchorLink1.content.forEach(item=>{ %>
                        <a href="#" class="c-box__item">

                            <div class="c-box__img">
                                <img src="<%= item.imgUrl %>" alt="<%= item.description %>">
                            </div>
                            <div class="c-box__content">
                                <p class="c-box__cat u-<%= item.color %>">
                                    <%= item.text %>
                                </p>
                                <h3 class="c-box__title">
                                    <%= item.description %>
                                </h3>
                            </div>

                        </a>
                        <% })%>
                            <% } %>
            </div>
        </section>
        <section id="titleAnchorLink2" class="c-titleAnchorLink c-titleAnchorLink2 l-container">
            <h3 class="c-titleAnchorLink__title">TITLE ANCHOR LINK 2</h3>
            <div class="c-box c-box--4">
                <% if(typeof titleAnchorLink2 !='undefined' ){ %>
                    <% titleAnchorLink2.content.forEach(item=>{ %>
                        <a href="#" class="c-box__item">

                            <div class="c-box__img">
                                <img src="<%= item.imgUrl %>" alt="<%= item.description %>">
                            </div>
                            <div class="c-box__content">
                                <p class="c-box__cat u-<%= item.color %>">
                                    <%= item.text %>
                                </p>
                                <h3 class="c-box__title">
                                    <%= item.description %>
                                </h3>
                            </div>

                        </a>
                        <% })%>
                            <% } %>
            </div>

        </section>
        <section id="titleAnchorLink3" class="c-titleAnchorLink c-titleAnchorLink3 l-container">
            <h3 class="c-titleAnchorLink__title">TITLE ANCHOR LINK 3</h3>
            <div class="c-titleAnchorLink3__content">
                <div class="c-titleAnchorLink3__content1">
                    <div class="c-caption c-caption--1">
                        <h4 class="c-caption__text">Caption table 1</h4>
                    </div>
                    <div class="c-titleAnchorLink__dummy c-titleAnchorLink3__dummy">
                        <p>
                            Dummy dummy <a href="#" class="c-dummy c-dummy--red"> dummy dummy dummy dummy</a> dummy
                            dummy
                            dummy
                            dummy dummy
                            dummy dummy dummy dummy dummy dummy dummy
                            dummy dummy
                            dummy dummy dummy dummy dummy dummy dummy dummy dummy
                        </p>

                    </div>
                    <div class="c-titleAnchorLink3__table c-titleAnchorLink3__table1 c-tableItem">
                        <table class="c-table c-table1 ">
                            <thead class="c-table__thead">
                                <tr class="c-table__tr c-table__tr1">
                                    <th class="c-table__tr1--item1"></th>
                                    <th class="c-table__tr1--item2"><span class="c-table__span">title</span></th>
                                    <th class="c-table__tr1--item3"><span class="c-table__span">title</span></th>
                                    <th class="c-table__tr1--item4"><span class="c-table__span">title</span></th>
                                </tr>
                            </thead>
                            <tbody class="c-table__tbody">
                                <tr class="c-table__tr c-table__tr2">
                                    <th class="c-table__tr2--item1"><span class="c-table__span">title</span></th>
                                    <td class="c-table__tr2--item2"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr2--item3"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr2--item4"><span class="c-table__span">text text text</span>
                                    </td>
                                </tr>
                                <tr class="c-table__tr c-table__tr3">
                                    <th class="c-table__tr3--item1"><span class="c-table__span">title</span></th>
                                    <td class="c-table__tr3--item2">text text text</td>
                                    <td class="c-table__tr3--item3">text text text</td>
                                    <td class="c-table__tr3--item4">text text text</td>
                                </tr>
                                <tr class="c-table__tr c-table__tr4">
                                    <th class="c-table__tr4--item1 td--blue"><span class="c-table__span">title</span>
                                    </th>
                                    <td class="c-table__tr4--item2"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr4--item3"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr4--item4"><span class="c-table__span">text text text</span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="c-titleAnchorLink3__content2">
                    <div class="c-caption c-caption2">
                        <h4 class="c-caption__text">Caption table 2</h4>
                    </div>
                    <div class="c-titleAnchorLink__dummy c-titleAnchorLink3__dummy">
                        <p>
                            Dummy dummy dummy dummy dummy dummy <a href="#" class="c-dummy c-dummy--blue">dummy
                                dummy</a>
                            dummy
                            dummy

                        </p>

                    </div>
                    <div class="c-titleAnchorLink3__table c-titleAnchorLink3__table2 c-tableItem">
                        <table class="c-table c-table2">

                            <tbody class="c-table__tbody">
                                <tr class="c-table__tr c-table__tr1">
                                    <th class="c-table__tr1--item1"><span class="c-table__span">title</span></th>
                                    <td class="c-table__tr1--item2"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr1--item3"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr1--item4"><span class="c-table__span">text text text</span>
                                    </td>
                                </tr>
                                <tr class="c-table__tr c-table__tr2">
                                    <th class="c-table__tr2--item1"><span class="c-table__span">title</span></th>
                                    <td class="c-table__tr2--item2"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr2--item3"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr2--item4"><span class="c-table__span">text text text</span>
                                    </td>
                                </tr>
                                <tr class="c-table__tr c-table__tr3">
                                    <th class="c-table__tr3--item1"><span class="c-table__span">title</span></th>
                                    <td class="c-table__tr3--item2"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr3--item3"><span class="c-table__span">text text text</span>
                                    </td>
                                    <td class="c-table__tr3--item4"><span class="c-table__span">text text text</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </section>
        <section class="c-breadcrumb c-breadcrumb--bottom ">
            <div class="l-container">
                <h2 class="p-home__text"><a class="p-home__link" href="index.html">HOME</a><span
                        class="u-angleRight"></span><span class="c-linkText">&nbsp;Link1</span>
                </h2>
            </div>

        </section>

    </main>

    <!-- @@content -->