<footer class="c-footer">
  <div class="c-footer__content">
    <div class="c-footer__top l-container">
      <div class="c-footer__item  c-footer__item1">
        <h2 class="c-footer__title">Box link 1</h2>
        <ul class="c-footer__ul c-footer__ul1">

          <li class=" c-footer__li c-footer__ul1--li1"><a href="#">Link link</a></li>


          <li class=" c-footer__li c-footer__ul1--li2"><a href="#">Link &nbsp;link link</a> </li>


          <li class=" c-footer__li c-footer__ul1--li3"><a href="#">Link &nbsp;link link link link</a></li>


          <li class=" c-footer__li c-footer__ul1--li4"><a href="#">Link link link</a></li>


          <li class=" c-footer__li c-footer__ul1--li5"><a href="#">Link link link link</a></li>

        </ul>
      </div>
      <div class="c-footer__item  c-footer__item2">
        <h2 class="c-footer__title">Box link 1</h2>
        <ul class="c-footer__ul c-footer__ul2">

          <li class=" c-footer__li c-footer__ul2--li1"><a href="#">Link link link link link link</a></li>


          <li class=" c-footer__li c-footer__ul2--li2"><a href="#">Link &nbsp;link link link link link link link</a></li>


          <li class="  c-footer__li c-footer__ul2--li3"><a href="#">Link &nbsp;link link link link</a></li>


          <li class="  c-footer__li c-footer__ul2--li4"><a href="#">Link link link link link link link</a></li>


          <li class=" c-footer__li  c-footer__ul2--li5"><a href="#">Link link link link link link link link link</a>
          </li>

        </ul>
      </div>
      <div class="c-footer__item  c-footer__item3">
        <h2 class="c-footer__title">Box link 1</h2>
        <ul class="c-footer__ul c-footer__ul3">

          <li class=" c-footer__li c-footer__ul3--li1"><a href="#">Link link link link link link link link</a></li>


          <li class=" c-footer__li c-footer__ul3--li2"><a href="#">Link &nbsp;link link </a></li>


          <li class=" c-footer__li c-footer__ul3--li3"><a href="#">Link &nbsp;link link link link</a></li>


          <li class=" c-footer__li c-footer__ul3--li4"><a href="#">Link link link link link link link link link link</a>
          </li>


          <li class=" c-footer__li c-footer__ul3--li5"><a href="#">Link link link link</a></li>
        
        </ul>
      </div>
    </div>

  </div>
  <div class="c-footer__copyright">
    <p>© Copyright Allgrow Labo 2018</p>
  </div>
</footer>