<header class="c-header l-container">
  <div class="c-header__top">
  <a href="/"><img src="/assets/img/header/250x50.jpg" alt="250x50.jpg"></a>
    <div class="c-header__link">
      <% if (typeof linklists !='undefined' ) { %>
        <% linklists.main && linklists.main.forEach(link=> { %>

          <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %>
                  </a>
          <% }) %>
            <% } %>
            
  
    </div>
    
  </div>
 
  

</header>
